<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354863823891-j6pufmv3a0a1uuh4gr2rg8g8e0blllcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354863823891-j6pufmv3a0a1uuh4gr2rg8g8e0blllcc</string>
	<key>API_KEY</key>
	<string>AIzaSyBGJcui96AucxxzzHs2phGFIerY4K4ZEBc</string>
	<key>GCM_SENDER_ID</key>
	<string>354863823891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.Spengler.Daniel.Quiz-With-Me</string>
	<key>PROJECT_ID</key>
	<string>quiz-with-me</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-with-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354863823891:ios:d5e09955e787b15b8613e6</string>
</dict>
</plist>